[Unit]
Description  = Digodoc Search API
Wants        = network-online.target postgresql.service postgresql@.service
After        = network-online.target postgresql.service postgresql@.service

[Service]
User         = <user>
Group        = <group>
ExecStart    = <path>/digodoc-search-api/scripts/api.sh start
ExecStop     = <path>/digodoc-search-api/scripts/api.sh stop
Type         = forking
Restart      = on-failure

[Install]
WantedBy     = multi-user.target
