[Unit]
Description  = Digodoc Search Engine
Wants        = network-online.target postgresql.service postgresql@.service
After        = network-online.target postgresql.service postgresql@.service

[Service]
User         = hernouf
Group        = hernouf
ExecStart    = /home/hernouf/Server/search_api/scripts/api.sh start
ExecStop     = /home/hernouf/Server/search_api/scripts/api.sh stop
Type         = forking
Restart      = on-failure

[Install]
WantedBy     = multi-user.target